{% extends "base.html" %}

{% block content %}
<div class="row">
    <div style="text-align:center;">
        <img src="/static/pictures/glasses.png" alt="" class="responsive-img" width="100px" height="100px">
    </div>
</div>

<h3 class="post-title"><b>Hello, I'm Wen!</b></h3>
<body>
    <h5>About Me</h5>
    <p>
        I'm currently an Economics Consultant at Frontier Economics. I have 6 years of experience working with data, econometric modelling, 
        and consulting with C-suite stakeholders. A lot of my work revolves around competition and antitrust - providing economic arguments 
        for litigation and regulatory law suits. As the size and complexity of the data I handle evolves, I am continuously upgrading myself 
        on the latest data science techniques. 
        <br>
        Outside work, I am especially interested in causal inference and network science and their applications to 
        solve social problems. I was a fellow at the Data Science for Social Good Programme organised by University of Chicago, Alan Turing 
        Institute and Warwick University. There, I used machine learning models to help the Paraguayan Government predict and detect fraudulent activities 
        in public procurements. I also do research at Cambridge University on topics of gender equality 
        and energy politics.

    <h5>Education</h5>
    <strong>MS Analytics: </strong>
    <em>Georgia Institute of Technology, 2016-2020</em>
    <br>

    <strong>MPhil Economics: </strong>
    <em>University of Cambridge, 2013-2015</em>
    <br>
    
    <strong>BA Social Sciences: </strong>
    <em>Sciences Po, 2010-2013</em>
    <br>
    
    <h5>Topics I write about</h5>
    <p>
        <li>Causal inference</li>
        <li>Network Science</li>
        <li>Applied Data Science</li>
        <li>Gender Inequality</li>
        <li>Machine Bias</li>
        <li>Complexity Science</li>
        <li>Entrepreneurship</li>
    </p>

    <h5>Other Interests</h5>
    <p>
        Sports: 🏃🏻‍♂️ 🚲 🏸 🏓 🎾
        <br>
        Music: 🎻
        <br>
        Tasting: 🍷 🥃 🍶
        <br>
        Productivity: Notion, Obsidian
    </p>
    <br>

</body>


{% endblock content %}
