<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Wen Jian">
    <meta name="description" content="Economics and data science">
    
    <!-- Required meta tags for Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wen Jian</title>
    <!--
      Styles based on Bootstrap
      Font-awesome used for icons
      Custom styles for the rest
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!-- minimum CSS for now
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    -->

</head>

<body>
    <nav class="navbar">
      <div class="container">
        <a href="{{ url_for("index") }}" style="color:white;"><b>WEN</b> JIAN</a>
        <div style="float:right;">
          <ul style="list-style:none;display:flex;">
            <a href="{{ url_for("index") }}" class="left"><li class="link-list">ABOUT</li></a>
            <a href="{{ url_for("blogs") }}" class="left"><li class="link-list">BLOG</li></a>
            <a href="{{ url_for("projects") }}" class="left"><li class="link-list">PROJECTS</li></a>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-bottom:100px;">
        <br>
        <main id="body-fade">
            {% block content %}
            <p>Default content to be displayed</p>
            {% endblock content %}
        </main>
    </div>
    <nav class="navfoot">
      <div style="text-align:center;">
        &copy; 2020 |
        &thinsp; <a href="https://www.linkedin.com/in/wen-jian-48926b32/" class="link-fa"><i class="fa fa-linkedin fa-lg"></i></a>
        &thinsp; <a href="https://github.com/wjivan" class="link-fa"><i class="fa fa-github fa-lg"></i></a>
      </div>
    </nav>

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
      <!-- minimum javascript for now
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="/static/js/button.js"></script>
    -->
   
</body>

</html>
