{% extends "base.html" %}

{% block content %}
<br>
<div style="text-align:center;">
    <img src={{ page.image }} alt="Head Image" height=100px />
    <h3>{{ page.title }}</h3>
    <div class="light-text">
        <p>{{ page.time }} &bull; {{ page.readtime }} </p>
        <p>
            {% for page_tag in page.meta.tags %}
            <div class="block">
                <b><a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a></b>
            </div>
            <!-- {% if not loop.last %} | {% endif %}  -->
            {% endfor %}
        </p>
    </div>
</div>
<br>

<div class="blog">
    {{page.html|safe}}
</div>

<br><hr class="fade"><br>

{% endblock content %}
