{% extends "base.html" %}

{% block content %}
<div class="mb-5">
    <h4>{{page.title}}</h4>
    <!-- <div class="meta"><span class="date">{{page.date}}</span></div> -->

    {% for page_tag in page.meta.tags %}
    <div class="block">
        <b><a href="{{ url_for("tag", tag=page_tag) }}" class="text-decoration-none">{{ page_tag }}</a></b>
    </div>
    <!-- {% if not loop.last %} | {% endif %}  -->
    {% endfor %}
</div>

    <div class="blog-post-body pb-5">
        {{page.html|safe}}
    </div>

{% endblock content %}
