{% extends "base.html" %}

{%block head%}
<div></div>
{% endblock head%}

{% block content %}
<h3 class="post-title"><b>Data Science Projects</b></h3>
<p>For me, the best way to learn data science is to really implement something. Here's a collection of data science projects I've worked on at night alongside my day job. 
</p>
<h5 class="post-title">Personal data science projects</h5>
I've picked up a lot of data science skills through Data Science For Good Fellowship and volunteering for DataKind, helping charities gain insight into data they hold. 
<div class="card-row">
  <!--Jinja syntax for loop on the projects json loaded
  for: gives a for loop on all the projects in personal
  loop.index: gives the current number in the loop. index starts with 1. 
  Create a <div> tag for every 3 iterations and then close it at the end of 3 in a row. 
  -->
  {% for project in projects.personal %}
  {% if loop.index % 3 == 1 %} <div> {% endif %}
    <div class="card-course card-course-1">
      <img style="display:block;margin:auto;" src="/static/pictures/Projects/{{ project.image }}" />
      <p><a href="{{ project.link }}"><strong class="text-decoration-none" style="font-size: 20px; color: #408895">{{ project.title }}</strong></a></p>
      <p style="font-size: small">{{ project.description }}</p>
    </div>
  {% if (loop.index % 3 == 0) or
    (loop.index == projects.personal|length) %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<br>
<h5 class="post-title">Commercial Data Science</h5>
Some data science work I've done that have been commercialised.
<br><br>
<div class="card-row pb-5">
  {% for project in projects.commercial %}
  {% if loop.index % 3 == 1 %} <div> {% endif %}
    <div class="card-course card-course-1">
      <img style="display:block;margin:auto;" src="/static/pictures/Projects/{{ project.image }}" />
      <p><a href="{{ project.link }}"><strong class="text-decoration-none" style="font-size: 20px; color: #408895">{{ project.title }}</strong></a></p>
      <p style="font-size: small">{{ project.description }}</p>
    </div>
  {% if (loop.index % 3 == 0) or
    (loop.index == projects.personal|length) %}
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>
{% endblock content %}
