{% extends "base.html" %}

<!-- The variable tagged contain a smaller list of pages 
that only includes the tagged posts. The below codes are the same for 
blogs
-->
{% block content %}
  <h3>
    <b>Posts</b>
    <br>
    <span class="light-text" style="font-size: 16px;">Posts that are tagged <mark>{{tag}}</mark></span>
  </h3>

  <div class="block">
    <a href="{{ url_for("index") }}">All</a>
  </div>


  {% with pages=pages  %}
      {% include "_list.html" %}
  {% endwith %}
{% endblock content %}
