  <!--
    Old code
     <nav class="navbar">
      <div class="container">
        <a href="{{ url_for("index") }}" style="color:white;"><b>WEN</b> JIAN</a>
        <div style="float:right;">
          <ul style="list-style:none;display:flex;">
            <a href="{{ url_for("index") }}" class="left"><li class="link-list">ABOUT</li></a>
            <a href="{{ url_for("blogs") }}" class="left"><li class="link-list">BLOG</li></a>
            <a href="{{ url_for("projects") }}" class="left"><li class="link-list">PROJECTS</li></a>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-bottom:100px;">
        <br>
        <main id="body-fade">
            {% block content %}
            <p>Default content to be displayed</p>
            {% endblock content %}
        </main>
    </div>
    <nav class="navfoot">
      <div style="text-align:center;">
        &copy; 2020 |
        &thinsp; <a href="https://www.linkedin.com/in/wen-jian-48926b32/" class="link-fa"><i class="fa fa-linkedin fa-lg"></i></a>
        &thinsp; <a href="https://github.com/wjivan" class="link-fa"><i class="fa fa-github fa-lg"></i></a>
      </div>
    </nav>

  -->

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="/static/images/blog/blog-post-thumb-1.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="blog-post.html">Top 3 JavaScript Frameworks</a></h3>
                    <div class="meta mb-1"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span class="comment"><a class="text-link" href="#">8 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb " src="/static/images/blog/blog-post-thumb-2.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="blog-post.html">About Remote Working</a></h3>
                    <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">3 min read</span><span class="comment"><a class="text-link" href="#">26 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
        
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb" src="/static/images/blog/blog-post-thumb-3.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="blog-post.html">A Guide to Becoming a Full-Stack Developer</a></h3>
                    <div class="meta mb-1"><span class="date">Published 2 months ago</span><span class="time">15 min read</span><span class="comment"><a class="text-link" href="#">3 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
        
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb" src="/static/images/blog/blog-post-thumb-4.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="blog-post.html">High Performance JavaScript</a></h3>
                    <div class="meta mb-1"><span class="date">Published 1 month ago</span><span class="time">8 min read</span><span class="comment"><a class="text-link" href="#">12 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
        
        
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb" src="/static/images/blog/blog-post-thumb-5.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="blog-post.html">Learn React in 24 Hours</a></h3>
                    <div class="meta mb-1"><span class="date">Published 2 months ago</span><span class="time">10 min read</span><span class="comment"><a class="text-link" href="#">23 comments</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
        
        <div class="item">
            <div class="row g-3 g-xl-0">
                <div class="col-2 col-xl-3">
                    <img class="img-fluid post-thumb" src="/static/images/blog/blog-post-thumb-6.jpg" alt="image">
                </div>
                <div class="col">
                    <h3 class="title mb-1"><a class="text-link" href="blog-post.html">How to Build Desktop Apps with HTML, CSS and JavaScript</a></h3>
                    <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">2 min read</span><span class="comment"><a class="text-link" href="#">1 comment</a></span></div>
                    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
                    <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                </div><!--//col-->
            </div><!--//row-->
        </div><!--//item-->
        
        <nav class="blog-nav nav nav-justified my-5">
          <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
          <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>
        
    </div>
</section>

<ul>
    {% for page in pages | sort(attribute='date', reverse=True) %}
        <li>
          <b>{{ page.title }}</b><br />
          {{ page.date }}
    
          <!--If tags are non-zero-->
          {% if page.meta.tags|length %}
    
            <!--Insert a separator | and some fontawesome tag icon-->
            | <i class="fa fa-tags fa-lg"></i>
    
            <!--Insert all the tags-->
            {% for page_tag in page.meta.tags %}
              <div class="block">
                <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
              </div>
    
            {% endfor %}
          {% endif %}
          <br>
          {{ page.description }} <br>
          <a class="left" href="{{ url_for("page", path=page.path) }}"><i>Read More</i></a>
        </li>
        {% if not loop.last %}<br><br>{% endif %}
    {% else %}
        <li>No page.</li>
    {% endfor %}
    </ul>

    <div class="row g-3 g-xl-0">
        <div class="col-2 col-xl-3">
          <img class="img-fluid post-thumb " src="{{ page.image }}">
        </div>
        <div class="col">
          <h3 class="title mb-1"><a class="text-link" href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a></h3>
          <div class="meta mb-1">
            <span class="date">{{page.date}}</span>
            <span class="time">{{page.readtime}}</span>
            <span class="comment"><a class="text-link" href="#">8 comments</a></span>
          </div>
          <div class="intro">{{page.description}}</div>
          <a class="text-link" href="{{ url_for("page", path=page.path) }}>Read more &rarr;</a>
        </div><!--//col-->
      </div><!--//row-->


      <nav class="blog-nav nav nav-justified my-5">
        <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
        <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
      </nav>